* {
    font-family: 'Montserrat';
    color: #4E4E4C;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url('../assets/img/jordan_barret.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.main_wrapper {
    max-width: 1340px;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

.main_wrapper {
    max-width: 1340px;
    margin: 0 auto;
}
