.block {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp_form {
    padding: 30px 30px 20px;
    background: rgba(255, 255, 255, 0.25);
    width: 275px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    input,
    button {
        transition: all 0.25s;
        margin-bottom: 10px;
        padding-left: 5px;
        border: none;
        border-radius: 7.5px;
        height: 32.5px;
    }

    input {
        border: 2px solid white;
        color: black;
        transition: all 0.25s;
        &:hover,
        :focus,
        :focus-visible {
            border-color: #073868;
        }
    }

    button {
        font-size: 15px;
        cursor: pointer;
        background-color: #6A8BA3;
        color: #E3DAC9;

        &:hover {
            background-color: #4a5f6e;
        }
    }
}

.title_signup {
    font-size: 20px;
    color: wheat;

    strong {
        color: wheat;
    }
}

.link {
    font-size: 15px;
    color: #073868;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
        color: #0e5398;
    }
}

.error {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    transition: all 0.25s;
}
